article {
  padding: 1.5em 2em 3em 2em;
}

.backlink {
  margin: 3em 1em 1em 1em;
  padding: 1em;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #a3d9ff;
}

.blogtext {
  font-size: 1.2em;
  line-height: 2em;
}

.title {
  width: 90%;
  margin: 1em;
  padding: 1.5em;
  background-color: #a3d9ff;
}
