article {
  padding: 2em 3em 3em 3em;
}

.codeblock {
  background-color: black;
}

article a {
  padding: 0.3em;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #a3d9ff;
}

.backlink {
  margin: 3em 1em 1em 1em;
  padding: 1em;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #a3d9ff;
}

.blogtext {
  font-size: 1.2em;
  line-height: 2em;
}

.title {
  width: 50%;
  margin: 1em;
  padding: 1.5em;
  background-color: #a3d9ff;
}

@media screen and (max-width: 900px) {
  article {
    padding: 1.5em 2em 3em 2em;
  }

  .title {
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: #a3d9ff;
  }
}
