version: 2.1
orbs:
  heroku: circleci/heroku@1.0.1

jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          name: Run Tests
          command: npm test
      - heroku/deploy-via-git

workflows:
  heroku_deploy:
    jobs:
      - deploy:
        filters:
          branches:
            only: master
