.banner {
  /* height: 80%; */
  background-color: #a3d9ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  margin: 0em 0.8em 0em 0.8em;
}

.herotext {
  padding: 1em;
  font-size: 7em;
  color: white;
}

.heroimage {
  align-self: center;
}

article {
  padding: 2em 4em 1em 4em;
}

article > p {
  font-size: 1.2em;
  line-height: 2em;
}
