.container {
  padding: 3em;
}

.title {
  width: 50%;
  margin: 1em;
  padding: 2em;
  background-color: #a3d9ff;
}

.card {
  margin-top: 3em;
  margin-left: 3em;
  margin-bottom: 2em;
  justify-self: center;
  width: 65%;
  color: black;
  /* height: 35%; */
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.removedecoration {
  text-decoration: none;
  list-style: none;
}

.textcontainer {
  text-decoration: none;
  list-style: none;
}
