.container {
  padding: 3em;
}

.title {
  width: 50%;
  margin: 1em;
  padding: 2em;
  background-color: #a3d9ff;
}

.cardgrid {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  justify-self: center;
  width: 65%;
  /* height: 35%; */
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  list-style: none;
  padding: 0%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
}

/* Add some padding inside the card container */
.cardtextcontainer {
  background-color: #a3d9ff;
  padding: 2px 16px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 900px) {
  .container {
    margin: 1em 0em 1em 0em;
  }

  .title {
    width: 90%;
    margin-top: 0em;
  }

  .cardgrid {
    grid-template-columns: 1fr;
  }

  .card {
    margin: 2em 0em 1em 0em;
    width: 100%;
  }
}
