.verticalnav {
  list-style-type: none;
  margin: 0;
  padding: 2em 0 0 0;
  width: 25%;
  background-color: #f3de8a;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.avatar {
  border-radius: 50%;
}

.avatarcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.avatarcard:hover {
  background-color: #a3d9ff;
  color: black;
}

.avatartext {
  text-decoration-style: none;
  color: black;
  margin-left: 0.3em;
}

.navlink {
  display: block;
  color: black;
  padding: 2em 0 2em 0;
  text-align: center;
  text-decoration: none;
}

/* Links on mouse-over */
.navlink:hover {
  background-color: #a3d9ff;
  color: black;
}
